* {
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
}

h1 {
	text-align: center;
}

.menu {
	text-align: center;
	margin: 15px;
}

.menu-item {
	display: inline-block;
	margin: 10px;
	background-color: #999999;
	border: 2px solid black;
	width: 28%;
	text-align: left;
}

.menu-title {
	float: right;
	margin: 0px;
	width: 30%;
	min-width: fit-content;
	text-align: center;
	padding-inline: 10px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

#chicken {
	background-color: pink;
}

#beef {
	background-color: red;
	color: white;
}

#sushi {
	background-color: lightyellow;
}

.menu-item p {
	margin-top: 25px;
	padding: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.menu-item {
		width: 44%;
	}
	.menu-item:last-child {
		width: 90%;
	}
}

@media (max-width: 767px) {
	.menu-item {
		width: 90%;
	}
}